# Model Versions

In this notebook, we present the steps for creating addtional versions of a model.  When a model is onboarded to Fiddler it is considered version 1 by default. To make signifacant changes to an existing model, such as altering the model schema, a new version of the model must be created. A model can have as many versions as desired and each can be live simultaneously or retained for historical viewing. 

This notebook is an example of how changes can be made in a `ModelSchema` and how Fiddler maintains them using versioning.

---

Model versioning docs can be referenced [here](https://docs.fiddler.ai/product-guide/monitoring-platform/model-versions) 

Model Versions are supported on Fiddler Python client version 3.1.0 and above using Python version 3.10+.

You can experience Fiddler's Model Versioning in minutes by following these quick steps:

1. Connect to Fiddler
2. Load a Data Sample
3. Create a Model: first version with no ModelTask
4. Second Version: target class and binary classification task & defined threshold
5. Third Version: change the datatype of a column and delete a column 
6. Fourth Version: change the column names
7. Fifth version: update column value range
8. Update Version Name
9. Delete a Model Version

# 0. Imports

In [1]:
%pip install -q fiddler-client

import time as time

import pandas as pd
import fiddler as fdl

print(f"Running Fiddler Python client version {fdl.__version__}")

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Running Fiddler Python client version 3.4.0

## 1. Connect to Fiddler

Before you can add information about your model with Fiddler, you'll need to connect using the Fiddler Python client.


---


**We need a couple pieces of information to get started.**
1. The URL you're using to connect to Fiddler
2. Your authorization token

Your authorization token can be found by navigating to the **Credentials** tab on the **Settings** page of your Fiddler environment.

In [2]:
URL = ''  # Make sure to include the full URL (including https:// e.g. 'https://your_company_name.fiddler.ai').
TOKEN = ''

Constants for this example notebook, change as needed to create your own versions

In [4]:
PROJECT_NAME = 'quickstart_examples'
MODEL_NAME = 'bank_churn_model_versions'
DATASET_NAME = 'baseline_dataset'

PATH_TO_SAMPLE_CSV = "https://raw.githubusercontent.com/fiddler-labs/fiddler-examples/main/quickstart/data/v3/churn_data_sample.csv"

Now just run the following to connect to your Fiddler environment.

In [5]:
fdl.init(url=URL, token=TOKEN)

#### 1.a Create New or Load Existing Project

Once you connect, you can create a new project by specifying a unique project name in the fld.Project constructor and calling the `create()` method. If the project already exists, it will load it for use.

In [6]:
try:
    # Create project
    project = fdl.Project(name=PROJECT_NAME).create()
    print(f'New project created with id = {project.id} and name = {project.name}')
except fdl.Conflict:
    # Get project by name
    project = fdl.Project.from_name(name=PROJECT_NAME)
    print(f'Loaded existing project with id = {project.id} and name = {project.name}')

Loaded existing project with id = 70b74177-c712-44b1-b431-2377c1b908ab and name = quickstart_examplesx

## 2. Load a Data Sample

Load the sample dataset, store the list of columns, and create a subset of input columns (model features) for later use.

In [7]:
sample_data_df = pd.read_csv(PATH_TO_SAMPLE_CSV)
column_list = sample_data_df.columns
input_columns = list(
    column_list.drop(['predicted_churn', 'churn', 'customer_id', 'timestamp'])
)

sample_data_df

,customer_id,creditscore,geography,gender,age,tenure,balance,numofproducts,hascrcard,isactivemember,estimatedsalary,predicted_churn,churn,timestamp
0,27acd1c2,545,Texas,Male,37,9,110483.86,1,1,1,127394.67,0.897202,yes,1710428231855
1,27b36d0c,497,Texas,Female,55,7,131778.66,1,1,1,9972.64,0.997441,yes,1710428262096
2,27b5360a,509,New York,Female,29,0,107712.57,2,1,1,92898.17,0.920563,yes,1710428292338
3,27b5d650,743,Hawaii,Nonbinary,39,6,0.00,2,1,0,44265.28,0.779282,yes,1710428322579
4,27b236a8,699,Florida,Female,25,8,0.00,2,1,1,52404.47,0.825474,yes,1710428352821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,27b409ba,686,Texas,Male,39,3,129626.19,2,1,1,103220.56,0.760645,yes,1711032910888
19996,27aaff96,446,Massachusetts,Female,45,10,125191.69,1,1,1,128260.86,0.216093,no,1711032941130
19997,27ad3162,794,California,Male,35,6,0.00,2,1,1,68730.91,0.982021,yes,1711032971371
19998,27b076ce,832,California,Male,61,2,0.00,1,0,1,127804.66,0.071598,no,1711033001613
19999,27aee1d8,641,Massachusetts,Female,36,1,0.00,2,1,0,102021.39,0.817325,yes,1711033031855

## 3. Create a Model

Create the first version of model in the project with NOT_SET task

<table>
    <tr>
        <td>
            <img src="https://raw.githubusercontent.com/fiddler-labs/fiddler-examples/main/quickstart/images/model_versions_1.png" />
        </td>
    </tr>
</table>

In [8]:
# Note the model version label is semantic and can be set to any desired alphanumeric string
# **** rules? ****
version_v1 = 'v1'

# Define the model specification, the role each column plays in the Fiddler model
model_spec = fdl.ModelSpec(
    inputs=input_columns,
    outputs=['predicted_churn'],
    targets=['churn'],
    metadata=['customer_id', 'timestamp'],
    decisions=[],
    custom_features=[],
)

try:
    model_v1 = fdl.Model.from_name(
        name=MODEL_NAME, project_id=project.id, version=version_v1
    )

    print(
        f'Loaded existing model with id = {model_v1.id}, name = {model_v1.name} and version = {model_v1.version}'
    )
except fdl.NotFound:
    model_v1 = fdl.Model.from_data(
        source=sample_data_df,
        name=MODEL_NAME,
        version=version_v1,
        project_id=project.id,
        spec=model_spec,
        task=fdl.ModelTask.NOT_SET,  # this sets the modeltask as NOT SET
    )

    model_v1.create()  # this creates the model
    print(
        f'New model created with id = {model_v1.id}, name = {model_v1.name} and version = {model_v1.version}'
    )

New model created with id = d06e3034-2b14-4352-bdfb-b4bea9753e9d, name = bank_churn_model_versions and version = v1

## 4. Second Version

Add a second Model version with binary classification task.

Update the version and provide target class and binary classification task & threshold.

In [9]:
version_v2 = 'v2'

task_params = fdl.ModelTaskParams(
    binary_classification_threshold=0.5,
    target_class_order=['no', 'yes'],
)

try:
    model_v2 = fdl.Model.from_name(
        name=MODEL_NAME, project_id=project.id, version=version_v2
    )

    print(
        f'Loaded existing model with id = {model_v2.id}, name = {model_v2.name} and version = {model_v2.version}'
    )
except fdl.NotFound:
    model_v2 = model_v1.duplicate(version=version_v2)
    model_v2.task_params = task_params
    model_v2.task = fdl.ModelTask.BINARY_CLASSIFICATION

    model_v2.create()
    print(
        f'New model created with id = {model_v2.id}, name = {model_v2.name} and version = {model_v2.version}'
    )

New model created with id = 2895f418-dd9b-4a8b-b58a-63e9f67b5f09, name = bank_churn_model_versions and version = v2

## 5. Third Version

For this third version of the Model we are:
1. Removing the input parameter "tenure"
2. Changing the datatype of column "geography" from Category to String

In [10]:
version_v3 = 'v3'

try:
    model_v3 = fdl.Model.from_name(
        name=MODEL_NAME, project_id=project.id, version=version_v3
    )

    print(
        f'Loaded existing model with id = {model_v3.id}, name = {model_v3.name} and version = {model_v3.version}'
    )
except fdl.NotFound:
    model_v3 = model_v2.duplicate(version=version_v3)

    # Remove the "tenure" column from the Model
    del model_v3.schema[
        'tenure'
    ]  # this deletes the tenure column from the Model schema and subsequently the inputs
    input_columns.remove('tenure')
    model_v3.spec.inputs = input_columns

    # Categorical column "hascrcard" is currently numerical, changing it to categorical
    model_v3.schema['hascrcard'].min = (
        None  # Removing min and mix of a numerical column before changing datatype
    )
    model_v3.schema['hascrcard'].max = None
    model_v3.schema['hascrcard'].data_type = fdl.DataType.BOOLEAN
    model_v3.schema['hascrcard'].categories = [True, False]

    model_v3.create()
    print(
        f'New model created with id = {model_v3.id}, name = {model_v3.name} and version = {model_v3.version}'
    )

New model created with id = c7295497-ee53-4aea-b3d3-585141c163d1, name = bank_churn_model_versions and version = v3

## 6. Fourth Version

Add a fourth version with a change in schema by changing the name of the columns

In [11]:
version_v4 = 'v4'

try:
    model_v4 = fdl.Model.from_name(
        name=MODEL_NAME, project_id=project.id, version=version_v4
    )

    print(
        f'Loaded existing model with id = {model_v4.id}, name = {model_v4.name} and version = {model_v4.version}'
    )
except fdl.NotFound:
    model_v4 = model_v3.duplicate(version=version_v4)
    model_v4.schema['age'].name = 'Age'  # we are renaming the column names
    model_v4.schema['creditscore'].name = 'CreditScore'
    model_v4.schema['geography'].name = 'Geography'
    model_v4.schema['balance'].name = 'BalanceNew'
    model_v4.schema['numofproducts'].name = 'NumOfProducts'
    model_v4.schema['hascrcard'].name = 'HasCrCard'
    model_v4.schema['isactivemember'].name = 'IsActiveMember'
    model_v4.schema['estimatedsalary'].name = 'EstimatedSalary'
    model_v4.spec.inputs = [
        'CreditScore',
        'Geography',
        'Age',
        'BalanceNew',
        'NumOfProducts',
        'HasCrCard',
        'IsActiveMember',
        'EstimatedSalary',
    ]

    model_v4.create()
    print(
        f'New model created with id = {model_v4.id}, name = {model_v4.name} and version = {model_v4.version}'
    )

New model created with id = bddce103-07bb-44a3-9401-532b9a61073c, name = bank_churn_model_versions and version = v4

## 7. Fifth Version

Add a fifth version with where the schema is changing by increasing the max limit of the balance field.

In [12]:
version_v5 = 'v5'

try:
    model_v5 = fdl.Model.from_name(
        name=MODEL_NAME, project_id=project.id, version=version_v5
    )
    print(
        f'Loaded existing model with id = {model_v5.id}, name = {model_v5.name} and version = {model_v5.version}'
    )
except fdl.NotFound as e:
    model_v5 = model_v4.duplicate(version=version_v5)
    model_v5.schema['Age'].min = (
        18  # This sets the min and max of the age column, overriding what was inferred from the sample data
    )
    model_v5.schema['Age'].max = 85

    model_v5.schema['BalanceNew'].max = (
        1250000  # This sets the max value for the balance column, overriding what was inferred from the sample data
    )

    model_v5.create()
    print(
        f'New model created with id = {model_v5.id}, name = {model_v5.name} and version = {model_v5.version}'
    )

New model created with id = 05777336-556f-4c4b-af3c-a088cd8405d3, name = bank_churn_model_versions and version = v5

## 8. Update version name

In [13]:
model_v4.version = 'v4-old'  # Rename the existing version name to 'v4-old'
model_v4.update()

print(f'Model version updated to: {model_v4.version}')

Model version updated to: v4-old

<table>
    <tr>
        <td>
            <img src="https://raw.githubusercontent.com/fiddler-labs/fiddler-examples/main/quickstart/images/model_versions_3.png" />
        </td>
    </tr>
</table>

## 9. Delete Model Version

Delete version v5 of the Model

In [14]:
model_delete_job = model_v5.delete()  # this deletes a specified version of the model

# Uncomment the line below to wait for the job to finish, otherwise it will run in the background.
# You can check the status on the Jobs page in the Fiddler UI or use the job ID to query the job status via the API.
# model_delete_job.wait()



---


**Questions?**  
  
Check out [our docs](https://docs.fiddler.ai/) for a more detailed explanation of what Fiddler has to offer.

If you're still looking for answers, fill out a ticket on [our support page](https://fiddlerlabs.zendesk.com/) and we'll get back to you shortly.